#heading{
    color:red
}
.logo{
    width:100px;
    height: 100px;
}
.header{
    border : 1px solid black;
    padding :10px;
    display :flex;
    justify-content: space-between;
}
.nav-bar > ul {
    display:flex;
}
.nav-bar > ul > li {
    padding :10px;
    margin:10px;
    list-style-type: none;
}
.search{
    padding:20px;
}
.res-container{
    background-color: antiquewhite;
    padding: 70px;
    display:flex;
    flex-wrap: wrap;
}
.res-card{
    width:250px;
    background-color: #f0f0f0;
    padding:5px;
    margin:5px;
}
.res-card:hover{
    border:1px solid black;
}
.food-img{
    width: 100%;
    height: 40%;
}